DB_NAME=vendor
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

ADMIN_PANEL_SECRET_KEY=some-secret-string
ADMIN_PANEL_DEBUG=TRUE
ADMIN_PANEL_DB_URL=postgres://postgres:postgres@localhost:5432/vendor
ADMIN_PANEL_PORT=8000

VENDOR_DB_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/vendor
VENDOR_DB_AUTH_SCHEMA=vendor
VENDOR_PORT=8001
