DB_NAME=vendor
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

ADMIN_PANEL_SECRET_KEY=some-secret-string
ADMIN_PANEL_DEBUG=TRUE
ADMIN_PANEL_DB_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
ADMIN_PANEL_PORT=8000

VENDOR_DB_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
VENDOR_DB_AUTH_SCHEMA=vendor
VENDOR_PORT=8001

CV_SECRET_KEY=some-secret-string
CV_DEBUG=TRUE
CV_PORT=8002
