version: "3.9"
services:
  vendor_db:
    build: ./db
    image: tnlinc/db:latest
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    networks:
      - main
    ports:
      - "${DB_PORT}:5432"
    restart: on-failure
    volumes:
      - ./db:/docker-entrypoint-initdb.d/
      - db_volume:/var/lib/comparing/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  nginx:
    image: "nginx:1.21.4"
    depends_on:
      admin_panel:
        condition: service_healthy
      vendor:
        condition: service_healthy
      cv:
        condition: service_healthy
    ports:
      - 80:80
    networks:
      - main
    volumes:
      - ./services/admin_panel/static:/data/static
      - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./etc/nginx/conf.d:/etc/nginx/conf.d

  admin_panel:
    image: tnlinc/admin-panel:latest
    depends_on:
      vendor_db:
        condition: service_healthy
    expose:
      - "8000"
    environment:
      ADMIN_PANEL_SECRET_KEY: ${ADMIN_PANEL_SECRET_KEY}
      ADMIN_PANEL_DEBUG: ${ADMIN_PANEL_DEBUG}
      ADMIN_PANEL_DB_URL: "postgres://${DB_USER}:${DB_PASSWORD}@vendor_db:5432/${DB_NAME}"
      ADMIN_PANEL_ALLOWED_HOSTS: ${ADMIN_PANEL_ALLOWED_HOSTS}
    networks:
      - main
    ports:
      - "${ADMIN_PANEL_PORT}:8000"
    restart: on-failure
    volumes:
      - ./services/admin_panel/static:/admin_pannel/static
    healthcheck:
      test: ["CMD-SHELL", "bash scripts/django_health_check.sh"]
      interval: 30s
      timeout: 30s
      retries: 5

  vendor:
    image: tnlinc/vendor:latest
    depends_on:
      vendor_db:
        condition: service_healthy
    expose:
      - "8000"
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: vendor_db
      DB_PORT: 5432
      VENDOR_DB_SCHEMA: ${VENDOR_DB_SCHEMA}
    networks:
      - main
    ports:
      - "${VENDOR_PORT}:8000"
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5

  cv:
    image: tnlinc/cv:latest
    expose:
      - "8000"
    environment:
      CV_SECRET_KEY: ${CV_SECRET_KEY}
      CV_DEBUG: ${CV_DEBUG}
      CV_ALLOWED_HOSTS: ${CV_ALLOWED_HOSTS}
    networks:
      - main
    ports:
      - "${CV_PORT}:8000"
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/ht || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5

  logstash:
    image: docker.elastic.co/logstash/logstash:7.16.0
    environment:
      ES_HOST: "elasticsearch"
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"
    ports:
      - "${LOGSTASH_PORT}:5044/udp"
    volumes:
      - ./deploy/:/config/:ro
    command: logstash -f /config/logstash.conf
    depends_on:
      elasticsearch:
        condition: service_healthy
      kibana:
        condition: service_healthy
    networks:
      - main

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.16.0
    environment:
      - "discovery.type=single-node"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - ${ES_PORT}:9200
      - "9300:9300"
    volumes:
      - es_volume:/usr/share/elasticsearch/data
    healthcheck:
      test: curl -u elastic:elastic -s -f elasticsearch:9200/_cat/health >/dev/null || exit 1
      interval: 60s
      timeout: 30s
      retries: 5
    networks:
      - main

  kibana:
    image: docker.elastic.co/kibana/kibana:7.16.0
    ports:
      - "${KIBANA_PORT}:5601"
    depends_on:
      elasticsearch:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5601 || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5
    networks:
      - main

volumes:
  db_volume: {}
  es_volume: {}

networks:
  main: {}
